body {
    font-family: Roboto, Arial, serif;
    background-image: url("../images/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
img {
    width: 300px;
    height: 220px;
}

.container {
    box-sizing: border-box;
    color: white;
    height: 768px;
    width: 1366px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 161px;
}

.header_hover {
    display: flex;
    margin-top: 51px;
}

.header_logo_img {
    background: url('../images/css_sprites.png') no-repeat -10px -10px;
    width: 53px;
    height: 47px;

}

.header_logo_text {
    color: white;
    margin-left: 8px;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.header_logo_text_2 {
    font-size: 18px;
    font-weight: 700;
}

.header_contacts {
    text-align: end;
    font-size: 18px;
    font-weight: 400;
    margin-top: 48px;
    margin-right: 177px;
}

.header_email {
    margin-bottom: 19px;
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;

}

.main_item_1 {
    width: 300px;
    height: 220px;
    margin: 26px 30px 78px 165px;
    text-decoration: none;
    color: white;
    text-align: center;

}

.main_item_2 {
    margin: 26px 31px 78px 31px;
    width: 300px;
    height: 220px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.main_item_3 {
    margin: 26px 178px 78px 31px;
    width: 300px;
    height: 220px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.main_item_4 {
    width: 300px;
    height: 220px;
    margin: 0 32px 0 163px;
    text-decoration: none;
    color: white;
    text-align: center;

}
.main_item_5 {
    width: 300px;
    height: 220px;
    margin: 0 32px 0 32px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.main_item_6 {
    width: 300px;
    height: 220px;
    margin: 0 176px 0 31px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.main_hover {
    position: relative;
    overflow: hidden;
}

.main_item_link_1 {
    padding-top: 20px;
    padding-bottom:37px;
}

.main_item_link_2 {
    padding-top: 20px;
    padding-bottom:37px;
}

.main_item_link_3 {
    padding-top: 20px;
    padding-bottom:37px;
}

.main_item_link_4 {
    padding-top: 20px;
}

.main_item_link_5 {
    padding-top: 20px;
}

.main_item_link_6 {
    padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 90px;
}

.header_hover:hover .header_logo_img {
    background: url('../images/css_sprites.png') no-repeat  -83px -10px;
    width: 53px;
    height: 47px;
}

.header_hover:hover .header_logo_text {
    color: #F26522;
}

.header_email:hover {
    color:#F26522 ;
}

.header_phone:hover {
    color:#F26522 ;
}

.hover {
    position: absolute;
    bottom: -50px;
    left: 1px;
    box-sizing: border-box;
    height: 55px;
    width: 298px;
    background-color: #F26522;
    color: white;
    font-weight: 400;
    font-size: 10px;
    opacity: 0;
}
.hover_pricing {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.hover_top {
    display: flex;
    padding: 7px 0 8px 16px;
}

.hover_eur {
    font-weight: 400;
    font-size: 20px;
    padding: 0 0 12px 16px;
}

.hover_text {
    font-weight: 400;
    font-size: 14px;
    padding-right: 21px;
    padding-bottom: 12px;
}

.hover_text::after {
    content: ">";
    padding-left: 16px;
}

.main_item_1:hover .main_item_link_1 {
    color: #F26522;
}

.main_item_2:hover .main_item_link_2 {
    color: #F26522;
}

.main_item_3:hover .main_item_link_3 {
    color: #F26522;
}

.main_item_4:hover .main_item_link_4 {
    color: #F26522;
}

.main_item_5:hover .main_item_link_5 {
    color: #F26522;
}

.main_item_6:hover .main_item_link_6 {
    color: #F26522;
}

.main_item_1:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}

.main_item_2:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}

.main_item_3:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}

.main_item_4:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}

.main_item_5:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}

.main_item_6:hover .hover {
    opacity: 1;
    transform: translateY(-50px);
    transition: 1s;
}
